<a href="https://colab.research.google.com/github/crakcode/ML_Fintech/blob/main/Crawilng_BS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Beautiful Soup 사용한 크롤링

## 네이버 기사 크롤링

In [ ]:
import requests
from bs4 import BeautifulSoup as bs
header={'User-agent': 'Mozila/2.0'}

response = requests.get("https://search.naver.com/search.naver?where=news&sm=tab_jum&query=삼성전자",
                       headers=header)  # 한글 url이 인코딩되어 있음
html = response.text

In [23]:

# select를 사용하면 .을 하나만 입력하면 된다. 경로를 따라간다고 생각하면된다. 
soup=bs(html, 'html.parser')
links = soup.select(".news_tit")  #결과가 리스트
for i in links:
  print(i.attrs['title'])
# print(links)

# 위의 것과 동치이다. 
links=soup.find_all("a",attrs={"class":"news_tit"})
# print(links)

삼성전자, '임금피크제 폐지' 요구에 "합리적이고 정당하게 운영중"
삼성전자 스마트 TV로 엑스박스 클라우드 게임 즐긴다
[단독] 해외 출장 삼성 사장단… "이번에 큰 일 했다"
삼성전자 "과도한 압수수색"…법원에 '이의제기'했다
삼성전자, 결국 한달 반만에 신저가 경신
삼성전자, 6만3800원까지 하락…또 신저가 깨져
‘6만전자’도 위태위태…삼성전자, 6주 만에 신저가
3주 만에 무너진 2600선…삼성전자 '신저가'
'코스피 2600 이탈' 마감.. 삼성전자 2.16% 급락
'무보수 경영' 이재용 삼성 부회장, 광복절 사면 가능성↑
[<a class="news_tit" href="https://www.yna.co.kr/view/AKR20220610072400003?input=1195m" onclick="return goOtherCR(this, 'a=nws*a.tit&amp;r=1&amp;i=880000D8_000000000000000013238053&amp;g=001.0013238053&amp;u='+urlencode(this.href));" target="_blank" title="삼성전자, '임금피크제 폐지' 요구에 &quot;합리적이고 정당하게 운영중&quot;"><mark>삼성전자</mark>, '임금피크제 폐지' 요구에 "합리적이고 정당하게 운영중"</a>, <a class="news_tit" href="http://moneys.mt.co.kr/news/mwView.php?no=2022061008040713044" onclick="return goOtherCR(this, 'a=nws*h.tit&amp;r=6&amp;i=8812805E_000000000000000000821117&amp;g=417.0000821117&amp;u='+urlencode(this.href));" target="_blank" title="삼성전자 스마트 TV로 엑스박스 클라우드 게임 즐긴다"><mark>삼성전자</mark> 스마트 TV로 엑스박스 클라우드 게임 즐긴다</a>, <a class="news_tit" href="https://www.sedaily.com/NewsView/2677D4GMSL" onclick="return goOtherCR(this, 'a=nws*e.tit&amp;r=11&amp;i=88000108_000000000000000004063822&amp;g=011.0004063822&amp;u='+urlencode(this.href));" target="_blank" title='[단독] 해외 출장 삼성 사장단… "이번에 큰 일 했다"'>[단독] 해외 출장 <mark>삼성</mark> 사장단… "이번에 큰 일 했다"</a>, <a class="news_tit" href="https://news.jtbc.joins.com/article/article.aspx?news_id=NB12062129" onclick="return goOtherCR(this, 'a=nws*h.tit&amp;r=12&amp;i=08138260_000000000000000000301786&amp;g=437.0000301786&amp;u='+urlencode(this.href));" target="_blank" title="삼성전자 &quot;과도한 압수수색&quot;…법원에 '이의제기'했다"><mark>삼성전자</mark> "과도한 압수수색"…법원에 '이의제기'했다</a>, <a class="news_tit" href="https://www.hankyung.com/finance/article/2022061014337" onclick="return goOtherCR(this, 'a=nws*a.tit&amp;r=14&amp;i=88000107_000000000000000004709862&amp;g=015.0004709862&amp;u='+urlencode(this.href));" target="_blank" title="삼성전자, 결국 한달 반만에 신저가 경신"><mark>삼성전자</mark>, 결국 한달 반만에 신저가 경신</a>, <a class="news_tit" href="http://www.newsis.com/view/?id=NISX20220610_0001902758&amp;cID=10401&amp;pID=10400" onclick="return goOtherCR(this, 'a=nws*j.tit&amp;r=16&amp;i=88000127_000000000000000011239457&amp;g=003.0011239457&amp;u='+urlencode(this.href));" target="_blank" title="삼성전자, 6만3800원까지 하락…또 신저가 깨져"><mark>삼성전자</mark>, 6만3800원까지 하락…또 신저가 깨져</a>, <a class="news_tit" href="https://news.kmib.co.kr/article/view.asp?arcid=0017166762&amp;code=61141211&amp;cp=nv" onclick="return goOtherCR(this, 'a=nws*a.tit&amp;r=17&amp;i=8800006F_000000000000000001532262&amp;g=005.0001532262&amp;u='+urlencode(this.href));" target="_blank" title="‘6만전자’도 위태위태…삼성전자, 6주 만에 신저가">‘6만<mark>전자</mark>’도 위태위태…<mark>삼성전자</mark>, 6주 만에 신저가</a>, <a class="news_tit" href="http://www.wowtv.co.kr/NewsCenter/News/Read?articleId=A202206100250&amp;t=NN" onclick="return goOtherCR(this, 'a=nws*j.tit&amp;r=20&amp;i=88000149_000000000000000001036614&amp;g=215.0001036614&amp;u='+urlencode(this.href));" target="_blank" title="3주 만에 무너진 2600선…삼성전자 '신저가'">3주 만에 무너진 2600선…<mark>삼성전자</mark> '신저가'</a>, <a class="news_tit" href="https://view.asiae.co.kr/article/2022061015530874392" onclick="return goOtherCR(this, 'a=nws*j.tit&amp;r=21&amp;i=88000385_000000000000000005101597&amp;g=277.0005101597&amp;u='+urlencode(this.href));" target="_blank" title="'코스피 2600 이탈' 마감.. 삼성전자 2.16% 급락">'코스피 2600 이탈' 마감.. <mark>삼성전자</mark> 2.16% 급락</a>, <a class="news_tit" href="http://www.newsis.com/view/?id=NISX20220610_0001902957&amp;cID=13001&amp;pID=13000" onclick="return goOtherCR(this, 'a=nws*j.tit&amp;r=22&amp;i=88000127_000000000000000011239770&amp;g=003.0011239770&amp;u='+urlencode(this.href));" target="_blank" title="'무보수 경영' 이재용 삼성 부회장, 광복절 사면 가능성↑">'무보수 경영' 이재용 <mark>삼성</mark> 부회장, 광복절 사면 가능성↑</a>]

In [13]:
import pandas as pd
tit_list=[] 
url_list=[]
for link in links:
    title= link.text # 태그 안의 텍스트
    url = link.attrs['href'] # href의 속성값
    print(title, url)
    tit_list.append(title)
    url_list.append(url)
df=pd.DataFrame({"title": tit_list, "url":url_list})
df.head()

삼성전자, '임금피크제 폐지' 요구에 "합리적이고 정당하게 운영중" https://www.yna.co.kr/view/AKR20220610072400003?input=1195m
삼성전자 스마트 TV로 엑스박스 클라우드 게임 즐긴다 http://moneys.mt.co.kr/news/mwView.php?no=2022061008040713044
삼성전자 "과도한 압수수색"…법원에 '이의제기'했다 https://news.jtbc.joins.com/article/article.aspx?news_id=NB12062129
삼성전자, 결국 한달 반만에 신저가 경신 https://www.hankyung.com/finance/article/2022061014337
삼성전자, 6만3800원까지 하락…또 신저가 깨져 http://www.newsis.com/view/?id=NISX20220610_0001902758&cID=10401&pID=10400
‘6만전자’도 위태위태…삼성전자, 6주 만에 신저가 https://news.kmib.co.kr/article/view.asp?arcid=0017166762&code=61141211&cp=nv
3주 만에 무너진 2600선…삼성전자 '신저가' http://www.wowtv.co.kr/NewsCenter/News/Read?articleId=A202206100250&t=NN
'코스피 2600 이탈' 마감.. 삼성전자 2.16% 급락 https://view.asiae.co.kr/article/2022061015530874392
'무보수 경영' 이재용 삼성 부회장, 광복절 사면 가능성↑ http://www.newsis.com/view/?id=NISX20220610_0001902957&cID=13001&pID=13000
'바닥 뚫고 지하로'…삼성전자, 실적 좋은데 주가 왜? http://www.edaily.co.kr/news/newspath.asp?newsid=01105366632360736

,title,url
0,"삼성전자, '임금피크제 폐지' 요구에 ""합리적이고 정당하게 운영중""",https://www.yna.co.kr/view/AKR2022061007240000...
1,삼성전자 스마트 TV로 엑스박스 클라우드 게임 즐긴다,http://moneys.mt.co.kr/news/mwView.php?no=2022...
2,"삼성전자 ""과도한 압수수색""…법원에 '이의제기'했다",https://news.jtbc.joins.com/article/article.as...
3,"삼성전자, 결국 한달 반만에 신저가 경신",https://www.hankyung.com/finance/article/20220...
4,"삼성전자, 6만3800원까지 하락…또 신저가 깨져",http://www.newsis.com/view/?id=NISX20220610_00...

In [26]:
keyword =input("검색어를 입력하세요>>>")

response = requests.get("https://search.naver.com/search.naver?where=news&sm=tab_jum&query=" + keyword,
                       headers=header)  # 한글 url이 인코딩되어 있음
html = response.text
soup=bs(html, 'html.parser')

links = soup.select(".news_tit")  #결과가 리스트
tit_list=[] 
url_list=[]
for link in links:
    title= link.text # 태그 안의 텍스트
    url = link.attrs['href'] # href의 속성값
    #print(title, url)
    tit_list.append(title)
    url_list.append(url)
df=pd.DataFrame({"title": tit_list, "url":url_list})
df.head()

검색어를 입력하세요>>>루나2

,title,url
0,"“또 속았다” 루나2, 열흘만 9분의 1토막…권도형 ‘잠수’",https://news.kmib.co.kr/article/view.asp?arcid...
1,루나사태 재발 막는다…이복현 금감원장 첫 행보는 '가상자산',https://www.yna.co.kr/view/AKR2022061005440000...
2,"'루나2'도 폭락…美 SEC, '권도형 테라폼랩스' 조사 착수",https://www.nocutnews.co.kr/news/5769945
3,"[테라·루나, 암호를 풀다]⑨ 미국도 정조준…궁지 몰린 권도형",https://news.kbs.co.kr/news/view.do?ncd=548351...
4,'루나2'마저 90% 폭락…권도형 트위터 '비공개' 전환,http://news.mt.co.kr/mtview.php?no=20220609163...

In [40]:
keyword=input("검색어를 입력하세요")
end=int(input())
tit_list=[] 
url_list=[]
for i in range(end):
  response = requests.get("https://search.naver.com/search.naver?where=news&sm=tab_jum&query={}&start={}".format(keyword,i),
                       headers=header)  # 한글 url이 인코딩되어 있음
  html = response.text
  soup=bs(html, 'html.parser')

  links = soup.select(".news_tit")  #결과가 리스트
  for link in links:
      title= link.text # 태그 안의 텍스트
      url = link.attrs['href'] # href의 속성값
      tit_list.append(title)
      url_list.append(url)
df=pd.DataFrame({"title": tit_list, "url":url_list})
print(df)

검색어를 입력하세요삼성
3
                                    title  \
0          [단독] 해외 출장 삼성 사장단… "이번에 큰일 했다"
1   삼성전자, '임금피크제 폐지' 요구에 "합리적이고 정당하게 운영중"
2           삼성전자 스마트 TV로 엑스박스 클라우드 게임 즐긴다
3            삼성전자 "과도한 압수수색"…법원에 '이의제기'했다
4        '무보수 경영' 이재용 삼성 부회장, 광복절 사면 가능성↑
5     "삼성전자·TSMC 반도체 공룡들 장비 수급난에 생산차질 전망"
6       '130년 역사' ISU 회장에 김재열 삼성글로벌리서치 사장
7     LG이노텍 '날고' 삼성전기 '반등'…테슬라 훈풍에 뛰는 부품株
8           '삼성家 둘째 사위' 김재열, 국제빙상연맹 회장 당선
9             [단독] 삼성전자 노조 “임금피크 폐지해야” 요구
10         [단독] 해외 출장 삼성 사장단… "이번에 큰일 했다"
11  삼성전자, '임금피크제 폐지' 요구에 "합리적이고 정당하게 운영중"
12          삼성전자 스마트 TV로 엑스박스 클라우드 게임 즐긴다
13           삼성전자 "과도한 압수수색"…법원에 '이의제기'했다
14       '무보수 경영' 이재용 삼성 부회장, 광복절 사면 가능성↑
15    "삼성전자·TSMC 반도체 공룡들 장비 수급난에 생산차질 전망"
16      '130년 역사' ISU 회장에 김재열 삼성글로벌리서치 사장
17    LG이노텍 '날고' 삼성전기 '반등'…테슬라 훈풍에 뛰는 부품株
18          '삼성家 둘째 사위' 김재열, 국제빙상연맹 회장 당선
19            [단독] 삼성전자 노조 “임금피크 폐지해야” 요구
20          삼성전자 스마트 TV로 엑스박스 클라우드 게임 즐긴다
21           삼성전자 "과도한 압수수색"…법원에 '이의제기'했다
22       '무보수 경영' 이재용 삼성 부회장, 광복절 사면 가능성↑
23  삼성전자, '임금피크제 폐지' 요구에 "합리적이고 정당하게 운영중"
24          '삼성家 둘째 사위' 김재열, 국제빙상연맹 회장 당선
25            [단독] 삼성전자 노조 “임금피크 폐지해야” 요구
26    "삼성전자·TSMC 반도체 공룡들 장비 수급난에 생산차질 전망"
27          삼성 스마트TV로 MS 엑스박스 클라우드 게임 즐긴다
28        [단독] 삼성전자 ‘급식 몰아주기’ 압수수색 불복 준항고
29         삼성페이·삼성패스 통합…'키' 없이 집·자동차 문 연다

                                                  url
0         https://www.sedaily.com/NewsView/2677D4GMSL
1   https://www.yna.co.kr/view/AKR2022061007240000...
2   http://moneys.mt.co.kr/news/mwView.php?no=2022...
3   https://news.jtbc.joins.com/article/article.as...
4   http://www.newsis.com/view/?id=NISX20220610_00...
5   https://www.hankyung.com/international/article...
6      https://www.ajunews.com/view/20220610181147307
7   https://economist.co.kr/2022/06/10/stock/stock...
8   https://www.hankyung.com/sports/article/202206...
9   https://www.seoul.co.kr/news/newsView.php?id=2...
10        https://www.sedaily.com/NewsView/2677D4GMSL
11  https://www.yna.co.kr/view/AKR2022061007240000...
12  http://moneys.mt.co.kr/news/mwView.php?no=2022...
13  https://news.jtbc.joins.com/article/article.as...
14  http://www.newsis.com/view/?id=NISX20220610_00...
15  https://www.hankyung.com/international/article...
16     https://www.ajunews.com/view/20220610181147307
17  https://economist.co.kr/2022/06/10/stock/stock...
18  https://www.hankyung.com/sports/article/202206...
19  https://www.seoul.co.kr/news/newsView.php?id=2...
20  http://moneys.mt.co.kr/news/mwView.php?no=2022...
21  https://news.jtbc.joins.com/article/article.as...
22  http://www.newsis.com/view/?id=NISX20220610_00...
23  https://www.yna.co.kr/view/AKR2022061007240000...
24  https://www.hankyung.com/sports/article/202206...
25  https://www.seoul.co.kr/news/newsView.php?id=2...
26  https://www.hankyung.com/international/article...
27  https://www.yna.co.kr/view/AKR2022060907040000...
28  https://news.kmib.co.kr/article/view.asp?arcid...
29  https://www.dailian.co.kr/news/view/1121493/?s...

In [ ]:
keyword=input("검색어를 입력하세요")

검색어를 입력하세요삼성전자

In [ ]:
response = requests.get(f"https://search.naver.com/search.naver?where=news&sm=tab_jum&query={keyword}",
                       headers=header)  # 한글 url이 인코딩되어 있음
html = response.text
# print(html)

In [ ]:
soup=bs(html, 'html.parser')
links = soup.select(".news_tit")  #결과가 리스트
tit_list=[] 
url_list=[]
for link in links:
    title= link.text # 태그 안의 텍스트
    url = link.attrs['href'] # href의 속성값
    #print(title, url)
    tit_list.append(title)
    url_list.append(url)
df=pd.DataFrame({"title": tit_list, "url":url_list})
df.head()

,title,url
0,"삼성전자, '임금피크제 폐지' 요구에 ""합리적이고 정당하게 운영중""",https://www.yna.co.kr/view/AKR2022061007240000...
1,"'무보수 경영' 이재용 삼성 부회장, 광복절 사면 가능성↑",http://www.newsis.com/view/?id=NISX20220610_00...
2,삼성전자 스마트 TV로 엑스박스 클라우드 게임 즐긴다,http://moneys.mt.co.kr/news/mwView.php?no=2022...
3,[단독] “범죄사실 무관 자료 수집”… 삼성전자 ‘압수수색’ 준항고,https://news.kmib.co.kr/article/view.asp?arcid...
4,"삼성전자, 결국 한달 반만에 신저가 경신",https://www.hankyung.com/finance/article/20220...

In [ ]:
# 여러 페이지 결과

In [ ]:
keyword =input("검색어를 입력하세요")
pageNum=1

검색어를 입력하세요현대차

In [34]:
tit_list=[] 
url_list=[]
for i in range(1,30, 10):
    print(f"{pageNum}페이지입니다.==============")
    response = requests.get(f"https://search.naver.com/search.naver?where=news&sm=tab_jum&query={keyword}&start={i}",
                           headers=header)  # 한글 url이 인코딩되어 있음
    html = response.text
    soup=bs(html, 'html.parser')
    links = soup.select(".news_tit")  #결과가 리스트
    for link in links:
        title= link.text # 태그 안의 텍스트
        url = link.attrs['href'] # href의 속성값
        print(title, url)
        tit_list.append(title)
        url_list.append(url)
    pageNum= pageNum+1
df=pd.DataFrame({"title": tit_list, "url":url_list})
df

'루나 폭락' 권도형, 트위터 비공개 하루 만에 다시 열더니… https://www.hankyung.com/finance/article/2022061030341
50조 증발 김치 코인 '루나' 왜 무너졌나?…'그알' http://www.newsis.com/view/?id=NISX20220610_0001903247&cID=10601&pID=10600
루나사태 재발 막는다…이복현 금감원장 첫 행보는 '가상자산' https://www.yna.co.kr/view/AKR20220610054400002?input=1195m
이복현, 첫 행보 가상자산… '90% 폭락' 루나 사태 막을까 http://moneys.mt.co.kr/news/mwView.php?no=2022061016315420794
[단독] 권도형 '1.5조 코인' 미공개 발행...檢, 사기 정황 수사 https://www.ytn.co.kr/_ln/0103_202206110531041742
美 증권위, 가상화폐 '루나' 발행한 권도형 조사 착수 http://news.tvchosun.com/site/data/html_dir/2022/06/10/2022061090126.html
'원조 루나' 사태의 재현?...루나2 코인도 90% 폭락 https://www.mk.co.kr/economy/view/2022/509328
루나 폭락 이후 잠적한 권도형, 트위터 열었다…'테라2.0' 의지 드러내 http://news.tf.co.kr/read/economy/1944416.htm
[코인뉴스] 美 SEC ‘루나 사태’ 권도형 정조준…트위터는 ‘폐쇄’ https://www.dailian.co.kr/news/view/1121814/?sc=Naver
'루나2'도 폭락…美 SEC, '권도형 테라폼랩스' 조사 착수 https://www.nocutnews.co.kr/news/5769945

NameError: ignored

검색어를 입력하세요삼영전기
마지막 페이지를 입력하세요3

In [ ]:

keyword =input("검색어를 입력하세요")
lastpage =input("마지막 페이지를 입력하세요")

pageNum=1

tit_list=[] 
url_list=[]
for i in range(1,int(lastpage)*10, 10):
    print(f"{pageNum}페이지입니다.==============")
    response = requests.get(f"https://search.naver.com/search.naver?where=news&sm=tab_jum&query={keyword}&start={i}",
                           headers=header)  # 한글 url이 인코딩되어 있음
    html = response.text
    soup=bs(html, 'html.parser')
    links = soup.select(".news_tit")  #결과가 리스트
    for link in links:
        title= link.text # 태그 안의 텍스트
        url = link.attrs['href'] # href의 속성값
        print(title, url)
        tit_list.append(title)
        url_list.append(url)
    pageNum= pageNum+1
df=pd.DataFrame({"title": tit_list, "url":url_list})
df

1페이지입니다.==============
삼영기업, 중대재해 Zero 앞장...방점은 '안전관리' http://www.iminju.net/news/articleView.html?idxno=77827
부산지산학협력 브랜치 24호, 효성전기㈜에 개소 https://www.busaneconomy.com/news/articleView.html?idxno=278956
(결혼) (주)삼영전기 권재국 대표이사의 장남 권동현 군 http://www.electimes.com/article.php?aid=1543280245169401035
[더벨]삼영전자 2대주주, 지분 매각 추진…일본色 강해지나 http://www.thebell.co.kr/front/free/contents/news/article_view.asp?key=202009070929378120101186
삼영전자공업, 삼성전기와 윈-윈으로 경쟁력 강화 http://www.asiae.co.kr/news/view.htm?idxno=2010120810464247335
삼영전기 매출증가 반사익 https://n.news.naver.com/mnews/article/014/0000056261?sid=101
[25일 낙찰/계약 동향] 평해향교 유림회관 신축공사(전기), 제주국가생약자원... http://www.fintechpost.co.kr/news/articleView.html?idxno=96450
[24일 낙찰/계약 동향] 2학생회관 실내인공암벽 설치공사, 영월읍 연하리(숯가... http://www.fintechpost.co.kr/news/articleView.html?idxno=96448
[11일 낙찰/계약 동향] 울산항 9부두 PE차막이 보수 및 기타공사, 노원중 정보... http://www.fintechpost.co.kr/news/articleView.html?idxno=100907
[31일 낙찰/계약 동향] 2020년 구안산교육지원청사 전기안전유지보수관리 계약... http://www.fintechpost.co.kr/news/articleView.html?idxno=97005
2페이지입니다.==============
[29일 낙찰/계약 동향] 동탄목동이음터 시각디자인실 전기 통신설비, 서울정인... http://www.fintechpost.co.kr/news/articleView.html?idxno=96994
[28일 낙찰/계약 동향] 2019정주환경개선사업(배방 회룡2리 마을안길 정비), ... http://www.fintechpost.co.kr/news/articleView.html?idxno=96971
[26일 낙찰/계약 동향] 세종-포천 고속도로 안성-구리 건설공사(제13공구)(제... http://www.fintechpost.co.kr/news/articleView.html?idxno=96460
[25일 낙찰/계약 동향] 어린이보호구역 승하차구역 정비사업, 주흘문화센터 L... http://www.fintechpost.co.kr/news/articleView.html?idxno=91285
[4일 낙찰/계약 동향] 상수도 급수공사(문산리 818-18번지 외 8개소), 정통단... http://www.fintechpost.co.kr/news/articleView.html?idxno=66727
(전기공사협회 네트워크) 인천시회, 빛과 사랑 전기나눔 자선모금 골프대회 http://www.electimes.com/article.php?aid=1572840896189052101
삼영전자.포리올등 관심 .. 배당여력 크고 외국인지분 많은 https://n.news.naver.com/mnews/article/015/0000625807?sid=101
[선도혁신기업-효성전기] 자동차용 모터 국내외 45개 사와 거래 명실상부한 강... http://news20.busan.com/controller/newsController.jsp?newsId=20160310000023
[21일 낙찰/계약 동향] 지방도507호선(교원대앞~탑연삼거리) 노면표지도색공사... http://www.fintechpost.co.kr/news/articleView.html?idxno=109793
[30일 낙찰/계약 동향] 문화예술플랫폼 증축사업 건축·기계공사, 화명2동 마... http://www.fintechpost.co.kr/news/articleView.html?idxno=96997
3페이지입니다.==============
[21일 낙찰/계약 동향] 급식실 옆 외부 통로 난간 설치 공사 견적요청, 성모여... http://www.fintechpost.co.kr/news/articleView.html?idxno=90665
[2일 낙찰/계약 동향] 안산디자인문화고등학교 본관동 중앙계단 앞 분전함내 ... http://www.fintechpost.co.kr/news/articleView.html?idxno=85124
[9일 낙찰/계약 동향] 한빛4호기 예비변압기 지지대 설치 및 기타공사, 한울5... http://www.fintechpost.co.kr/news/articleView.html?idxno=68707
[11일 낙찰/계약 동향] 대촌중 쉼과 배움이 있는 학교공간 조성 공사, 부용초... http://www.fintechpost.co.kr/news/articleView.html?idxno=59037
"전남 신안·전북 서남권서 2.7GW 해상풍력 추진" http://www.e2news.com/news/articleView.html?idxno=231873
한국전력 등 관계기업 44개사, '해상풍력 5대강국 진입'을 위한 협력관계 구축 http://www.aitimes.kr/news/articleView.html?idxno=20794
[18일 낙찰/계약 동향] 의림지 한방 치유숲길 경관조명 설치공사, 황지동 418... http://www.fintechpost.co.kr/news/articleView.html?idxno=114013
[13일 낙찰/계약 동향] 이천양정여중 교실 및 운동장 기구 도색공사, 2020년 ... http://www.fintechpost.co.kr/news/articleView.html?idxno=113453
[25일 낙찰/계약 동향] 2020년 녹색커튼 조성사업, 입북동 벌터~강남아파트간... http://www.fintechpost.co.kr/news/articleView.html?idxno=110808
[20일 낙찰/계약 동향] 회현면 내기마을 외 아스콘포장공사, 동이면 세산리 지... http://www.fintechpost.co.kr/news/articleView.html?idxno=109791

,title,url
0,"삼영기업, 중대재해 Zero 앞장...방점은 '안전관리'",http://www.iminju.net/news/articleView.html?id...
1,"부산지산학협력 브랜치 24호, 효성전기㈜에 개소",https://www.busaneconomy.com/news/articleView....
2,(결혼) (주)삼영전기 권재국 대표이사의 장남 권동현 군,http://www.electimes.com/article.php?aid=15432...
3,"[더벨]삼영전자 2대주주, 지분 매각 추진…일본色 강해지나",http://www.thebell.co.kr/front/free/contents/n...
4,"삼영전자공업, 삼성전기와 윈-윈으로 경쟁력 강화",http://www.asiae.co.kr/news/view.htm?idxno=201...
5,삼영전기 매출증가 반사익,https://n.news.naver.com/mnews/article/014/000...
6,"[25일 낙찰/계약 동향] 평해향교 유림회관 신축공사(전기), 제주국가생약자원...",http://www.fintechpost.co.kr/news/articleView....
7,"[24일 낙찰/계약 동향] 2학생회관 실내인공암벽 설치공사, 영월읍 연하리(숯가...",http://www.fintechpost.co.kr/news/articleView....
8,"[11일 낙찰/계약 동향] 울산항 9부두 PE차막이 보수 및 기타공사, 노원중 정보...",http://www.fintechpost.co.kr/news/articleView....
9,[31일 낙찰/계약 동향] 2020년 구안산교육지원청사 전기안전유지보수관리 계약...,http://www.fintechpost.co.kr/news/articleView....
10,"[29일 낙찰/계약 동향] 동탄목동이음터 시각디자인실 전기 통신설비, 서울정인...",http://www.fintechpost.co.kr/news/articleView....
11,"[28일 낙찰/계약 동향] 2019정주환경개선사업(배방 회룡2리 마을안길 정비), ...",http://www.fintechpost.co.kr/news/articleView....
12,[26일 낙찰/계약 동향] 세종-포천 고속도로 안성-구리 건설공사(제13공구)(제...,http://www.fintechpost.co.kr/news/articleView....
13,"[25일 낙찰/계약 동향] 어린이보호구역 승하차구역 정비사업, 주흘문화센터 L...",http://www.fintechpost.co.kr/news/articleView....
14,"[4일 낙찰/계약 동향] 상수도 급수공사(문산리 818-18번지 외 8개소), 정통...",http://www.fintechpost.co.kr/news/articleView....
15,"(전기공사협회 네트워크) 인천시회, 빛과 사랑 전기나눔 자선모금 골프대회",http://www.electimes.com/article.php?aid=15728...
16,삼영전자.포리올등 관심 .. 배당여력 크고 외국인지분 많은,https://n.news.naver.com/mnews/article/015/000...
17,[선도혁신기업-효성전기] 자동차용 모터 국내외 45개 사와 거래 명실상부한 강...,http://news20.busan.com/controller/newsControl...
18,[21일 낙찰/계약 동향] 지방도507호선(교원대앞~탑연삼거리) 노면표지도색공사...,http://www.fintechpost.co.kr/news/articleView....
19,"[30일 낙찰/계약 동향] 문화예술플랫폼 증축사업 건축·기계공사, 화명2동 마...",http://www.fintechpost.co.kr/news/articleView....
20,"[21일 낙찰/계약 동향] 급식실 옆 외부 통로 난간 설치 공사 견적요청, 성모여...",http://www.fintechpost.co.kr/news/articleView....
21,[2일 낙찰/계약 동향] 안산디자인문화고등학교 본관동 중앙계단 앞 분전함내 ...,http://www.fintechpost.co.kr/news/articleView....
22,"[9일 낙찰/계약 동향] 한빛4호기 예비변압기 지지대 설치 및 기타공사, 한울5...",http://www.fintechpost.co.kr/news/articleView....
23,"[11일 낙찰/계약 동향] 대촌중 쉼과 배움이 있는 학교공간 조성 공사, 부용초...",http://www.fintechpost.co.kr/news/articleView....
24,"""전남 신안·전북 서남권서 2.7GW 해상풍력 추진""",http://www.e2news.com/news/articleView.html?id...
25,"한국전력 등 관계기업 44개사, '해상풍력 5대강국 진입'을 위한 협력관계 구축",http://www.aitimes.kr/news/articleView.html?id...
26,"[18일 낙찰/계약 동향] 의림지 한방 치유숲길 경관조명 설치공사, 황지동 418...",http://www.fintechpost.co.kr/news/articleView....
27,"[13일 낙찰/계약 동향] 이천양정여중 교실 및 운동장 기구 도색공사, 2020년 ...",http://www.fintechpost.co.kr/news/articleView....
28,"[25일 낙찰/계약 동향] 2020년 녹색커튼 조성사업, 입북동 벌터~강남아파트간...",http://www.fintechpost.co.kr/news/articleView....
29,"[20일 낙찰/계약 동향] 회현면 내기마을 외 아스콘포장공사, 동이면 세산리 지...",http://www.fintechpost.co.kr/news/articleView....